/* overrides */
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    background-color: transparent;
}

/* end overrides */

html, body {
    font-size: 15px;
    height: 100%;
    background-color: #e8e8e8;
}

body.with-top-nav {
    padding-top: 50px;
}

body.with-bottom-nav {
    padding-bottom: 50px;
}

body.bg-sky {
    background: url('../img/clouds_texture.jpg') transparent;
}

nav {
    height: 50px;
}

hr {
    margin: 0.1em;
    color: white;
    border-color: white;
}

fieldset {
    margin-bottom: 0.5em;
}

fieldset legend, h3 {
    color: rgb(16, 77, 161);
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.table {
    display: table;
    height: 100%;
    width: 100%;
    padding: 0;
    margin-bottom: 0.7em;
    background-color: transparent;
}

.table .table {
    background-color: transparent;
}

.table .cells {
    display: table-row;
    vertical-align: top;
    padding: 0;
}

.table .cells.min {
    height: 1px;
}

.table .cell {
    display: table-cell;
}

.table .cell.center {
    vertical-align: middle;
    text-align: center;
}

.table .cell.content {
    padding: 0.7em;
}

.login-panel {
    max-width: 15em;
    text-align: center;
    margin-top: 0.7em;
}

.login-header {
    background-color: rgb(16, 77, 161);
    padding: 0.5em 0;
}

.form-group {
    margin: 0 0 0.4em 0;
}

.form-group button {
    margin: 0;
}

.form-group:last-child {
    margin-bottom: 0;
}

.shadow {
    -webkit-box-shadow: 9px 9px 18px -6px rgba(0,0,0,0.39);
    -moz-box-shadow: 9px 9px 18px -6px rgba(0,0,0,0.39);
    box-shadow: 9px 9px 18px -6px rgba(0,0,0,0.39);
}

.alerts {
    position: absolute;
    width: 100%;
    left: 0px;
    top: -0.8em;
    padding: 0.8em;
    z-index: 1000;
}

.progress {
    margin: 0.5em;
}

.alert {
    display: none
    opacity: 0.8;
    font-size: 1em;
    min-height: 5em;

    -webkit-box-shadow: 9px 9px 18px -6px rgba(0,0,0,0.39);
    -moz-box-shadow: 9px 9px 18px -6px rgba(0,0,0,0.39);
    box-shadow: 9px 9px 18px -6px rgba(0,0,0,0.39);
}

.btn-search {
    height: 9em;
    width: 9em;
    border-radius: 4.5em;
    -webkit-box-shadow: 9px 9px 18px -6px rgba(0,0,0,0.39);
    -moz-box-shadow: 9px 9px 18px -6px rgba(0,0,0,0.39);
    box-shadow: 9px 9px 18px -6px rgba(0,0,0,0.39);
}

.btn-search.pushed {
    height: 8em;
    width: 8em;
    border-radius: 4em;
    -webkit-box-shadow: 5px 5px 10px -6px rgba(0,0,0,0.39);
    -moz-box-shadow: 5px 5px 10px -6px rgba(0,0,0,0.39);
    box-shadow: 5px 5px 5px -6px rgba(0,0,0,0.39);
}

#divResults {
    padding-top: 1em;
    padding-bottom: 3em;
}

#divResults div.person {
    background: white;
    border: 1px solid silver;
    text-underline: none;
}

#divResults span.heart {
    float: right;
    font-size: 1.8em;
    font-weight: bold;
}

#divResults span.like:after {
    top: -0.3em;
    position: relative;
    content: '\2665';
    color: #ff483f;
}

#divResults span.unlike:after {
    top: -0.3em;
    position: relative;
    content: '\2665';
    color: #f1f1ff;
}