/* overrides */
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    background-color: transparent;
}

.ui-navbar li .ui-btn {
    font-size: 14px;
}

.navbar-fixed-top {
    -webkit-box-shadow: 0px 3px 17px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 17px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 17px 0px rgba(0,0,0,0.2);
}

/* end overrides */

html, body {
    font-size: 15px;
    height: 100%;
    background-color: #e8e8e8;
    padding: 0;
    margin: 0;
}

body.with-top-nav {
    padding-top: 50px;
}

body.with-bottom-nav {
    padding-bottom: 50px;
}

body.bg-sky {
    /*background: url('../img/clouds_texture.jpg') transparent;*/
    background: #084aa4;
    background: -moz-linear-gradient(top,  #084aa4 0%, #ffffff 100%);
    background: -webkit-linear-gradient(top,  #084aa4 0%,#ffffff 100%);
    background: linear-gradient(to bottom,  #084aa4 0%,#ffffff 100%);
}

nav {
    height: 50px;
}

.nav-height {
    height: 50px;
    line-height: 30px;
}

hr {
    margin: 0.1em;
    color: white;
    border-color: white;
}

fieldset {
    margin-bottom: 0.5em;
}

fieldset legend, h3 {
    color: rgb(16, 77, 161);
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.table-grid {
    display: table;
    height: 100%;
    width: 101%;
    margin-left: -1px;
    margin-right: -1px;
    padding: 0;
    background-color: transparent;
    border-collapse: collapse;
    border: none;
}

.table-grid .table-grid {
    background-color: transparent;
}

.table-grid .cells {
    display: table-row;
    vertical-align: top;
    border-collapse: collapse;
    padding: 0;
}

.table-grid .cells.min {
    height: 1px;
}

.table-grid .cell {
    display: table-cell;
    border-collapse: collapse;
}

.table-grid .cell.center {
    vertical-align: middle;
    text-align: center;
}

.table-grid .cell.content {
    padding: 0.7em;
}

.login-panel {
    max-width: 15em;
    text-align: center;
    margin-top: 0.7em;
}

.login-header {
    background-color: #f9f9f9;
    padding: 0.5em 0;
    margin: -2px 0;

    -webkit-box-shadow: 0px 3px 17px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 17px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 17px 0px rgba(0,0,0,0.2);
}

.form-group {
    margin: 0 0 0.4em 0;
}

.form-group button {
    margin: 0;
}

.form-group:last-child {
    margin-bottom: 0;
}

.shadow {
    -webkit-box-shadow: 9px 9px 18px -6px rgba(0,0,0,0.39);
    -moz-box-shadow: 9px 9px 18px -6px rgba(0,0,0,0.39);
    box-shadow: 9px 9px 18px -6px rgba(0,0,0,0.39);
}

.alerts {
    position: absolute;
    width: 100%;
    left: 0px;
    top: -0.8em;
    padding: 0.8em;
    z-index: 1000;
}

.progress {
    margin: 0.5em;
}

.alert {
    display: none
    opacity: 0.8;
    font-size: 1em;
    min-height: 5em;

    -webkit-box-shadow: 9px 9px 18px -6px rgba(0,0,0,0.39);
    -moz-box-shadow: 9px 9px 18px -6px rgba(0,0,0,0.39);
    box-shadow: 9px 9px 18px -6px rgba(0,0,0,0.39);
}

.btn-search {
    height: 9em;
    width: 9em;
    border-radius: 4.5em;
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 0 1px 0 #777;
    -webkit-box-shadow: 9px 9px 18px -6px rgba(0,0,0,0.39);
    -moz-box-shadow: 9px 9px 18px -6px rgba(0,0,0,0.39);
    box-shadow: 9px 9px 18px -6px rgba(0,0,0,0.39);
}

.btn-search.pushed {
    height: 8em;
    width: 8em;
    border-radius: 4em;
    -webkit-box-shadow: 5px 5px 10px -6px rgba(0,0,0,0.39);
    -moz-box-shadow: 5px 5px 10px -6px rgba(0,0,0,0.39);
    box-shadow: 5px 5px 5px -6px rgba(0,0,0,0.39);
}

#divResults.bottom-nav {
    padding-bottom: 50px;
}

#divResults td {
    vertical-align: middle;
}

#divResults span.person {
    color: #777;
    font-size: 1.2em;
}

#divResults span.heart {
    display: block;
    height: 25px;
    width: 28px;
    font-size: 2em;
    font-weight: bold;
    background: url('../img/heart-icon.png') 0 0 no-repeat;
}

#divResults span.heart.like {
    background-position: 0 100%;
}

#tblResults {
    margin-top: 10px;
    width: 100%;
}

a.like-all {
    line-height: 50px;
    text-decoration: none;
}

a.like-all:before {
    content: ' ';
    display: inline-block;
    position: relative;
    top: 12px;
    margin-left: 5px;
    height: 25px;
    float: right;
    width: 28px;
    background: url('../img/heart-icon.png') 100% 0 no-repeat;
}

a.like-all.like:before {
    background-position: 100% 100%;
}